#artiste {
  background-color: #ccea2d;
  h1 {
    font-family: "Fixture-ExpandedBold";
  }

  img {
    position: relative;
    left: 30px;
    width: 500px;
  }

  h2 {
    font-family: "Fixture-ExpandedSemiBold";
    padding-top: 40px;
    font-size: 40px;
  }

  h3 {
    font-size: 48px;
    font-family: "Fixture-ExpandedLight";
    margin-left: 40px;
  }

  p {
    padding-top: 13px;
    font-size: 26px;
    font-weight: lighter;
    font-family: "FixtureItalic-ExpandedExtralight";
  }
}

#titre-artiste {
  font-size: 50px;
  padding: 80px 0 50px 70px;
}

#kinetic-flow {
  img {
    width: 455px;
  }
}

#nombre-artiste {
  position: relative;
  bottom: 28px;
}

#button-ticket {
  width: 250px;
  padding-top: 35px;
}

.section-artiste {
  padding-bottom: 140px;
}
