#artiste {
  background-color: #ccea2d;
  h1 {
    font-family: "Fixture-ExpandedBold";
    font-size: 75px;
  }

  img {
    position: relative;
    left: 60px;
  }

  h2 {
    font-family: "Fixture-ExpandedSemiBold";
    padding-top: 50px;
    font-size: 40px;
  }

  h3 {
    font-size: 48px;
    font-family: "Fixture-ExpandedLight";
    margin-left: 40px;
  }

  p {
    padding-top: 13px;
    font-size: 26px;
    font-weight: lighter;
    font-family: "FixtureItalic-ExpandedExtralight";
  }
}

#titre-artiste {
  font-size: 50px;
  padding: 50px 0 55px 70px;
}

#kinetic-flow {
  width: 575px;

  .row {
    position: relative;
    left: 15px;
  }
}

#neon-pulse {
  img {
    width: 495px;
  }
}

#min-jae-park {
  position: relative;
  bottom: 50px;

  .row {
    position: relative;
    right: 100px;
  }

  img {
    width: 420px;
  }
}

#button-ticket {
  width: 250px;
  padding-top: 35px;

  a:hover {
    transform: scale(1.1);
  }
}

.section-artiste {
  padding-bottom: 40px;
}

.col-4 {
  position: relative;
  left: 3px;
}
