#artiste {
  background-color: #ccea2d;

  img {
    position: relative;
    left: 60px;
  }

  h2 {
    font-family: "Fixture-ExpandedSemiBold";
    padding-top: 50px;
    font-size: 40px;
  }

  h3 {
    font-size: 48px;
    font-family: "Fixture-ExpandedLight";
    margin-left: 40px;
  }

  p {
    padding-top: 13px;
    font-size: 26px;
    font-weight: lighter;
    font-family: "FixtureItalic-ExpandedExtralight";
  }
}

#titre-artiste {
  h1 {
    font-family: "Fixture-ExpandedBold";
    font-size: 70px;
    margin-left: 100px;
    padding: 40px 0 45px 0;
  }
}

#nombre-artiste {
  h3 {
    position: relative;
    bottom: 20px;
  }
}

#kinetic-flow {
  width: 584px;

  .row {
    position: relative;
    left: 15px;
  }
}

#neon-pulse {
  img {
    width: 495px;
  }
}

#min-jae-park {
  position: relative;
  bottom: 43px;

  .row {
    position: relative;
    right: 100px;
  }

  img {
    width: 440px;
  }
}

#kinetic-couleur {
  .col-12 {
    position: absolute;
    overflow: hidden;
    width: 300px;
    height: 400px;
    margin: 10px;
  }

  .col-12 img {
    opacity: 1;
    transition: all linear 0.5s;
  }

  img.hover-img {
    position: absolute;
    opacity: 0;
    width: 590px;
  }

  img:hover {
    opacity: 0;
    transition: 0.4s;
  }

  img.hover-img:hover {
    opacity: 1;
    transition: 0.4s;
    transform: scale(0.98);
  }
}

#neon-couleur {
  .col-12 {
    position: absolute;
    overflow: hidden;
    width: 300px;
    height: 400px;
    margin: 10px;
  }

  .col-12 img {
    transition: all linear 0.5s;
  }

  img.hover-img {
    position: absolute;
    opacity: 0;
    width: 519px;
  }

  img:hover {
    opacity: 0;
    transition: 0.4s;
  }

  img.hover-img:hover {
    opacity: 1;
    transition: 0.4s;
    transform: scale(0.98);
  }
}

#min-jae-couleur {
  .col-12 {
    position: relative;
    overflow: hidden;
  }

  .col-12 img {
    transition: all linear 0.5s;
  }

  img.hover-img {
    position: absolute;
    opacity: 0;
    width: 455px;
  }

  .col-12 img:hover {
    opacity: 0;
    transition: 0.4s;
    transform: scale(0.98);
  }

  img.hover-img:hover {
    opacity: 1;
    transition: 0.4s;
    transform: scale(0.98);
  }
}

#button-ticket {
  width: 250px;
  padding-top: 35px;

  img {
    transition: transform 0.2s;
  }

  img:hover {
    transform: translateX(20px);
  }
}

.section-artiste {
  padding-bottom: 28px;
}

.col-4 {
  position: relative;
  left: 3px;
}
