.section-exposition-infos {
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  overflow: hidden;
}

.container:hover .texte {
  visibility: visible;
}

.container:hover img {
  transform: scale(0.98);
}

.image {
  width: 840px;
  height: 960px;
}

.image img {
  object-fit: cover;
  width: 850px;
  height: 960px;
  transition: 0.4s;
}

.texte {
  h1 {
    font-family: "Fixture-ExpandedBold";
    font-size: 60px;
    position: relative;
    top: 45px;
    left: 30px;
  }

  a img {
    width: 115px;
    position: relative;
    top: 220px;
    left: 220px;
    transition: 0.4s;
  }

  img:hover {
    transform: translate(20px, 40px);
  }

  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.689);
  width: 850px;
  height: 430px;
  display: flex;
  align-items: start;
  justify-content: start;
  visibility: hidden;
}
