footer {
  padding-top: 70px;
}

#footer {
  img {
    width: 320px;
  }

  h4 {
    font-size: 27px;
    font-family: "Fixture-ExpandedSemiBold";
    margin-bottom: 17px;
  }

  p {
    font-size: 20;
  }
}

#logo-partenaire {
  position: relative;
  right: 35px;
  padding-top: 90px;
  padding-bottom: 10px;
}

#lien-media {
  position: relative;
  left: 125px;
}

#partenaire {
  img {
    width: 150px;
  }
}

#logo-etat-fribourg {
  img {
    position: relative;
    bottom: 35px;
    width: 125px;
  }
}

#copyright {
  padding: 30px 0;
}
