footer {
  padding-top: 70px;

  a {
    text-decoration: none;
    color: #ccea2d;
    font-size: 17px;
    text-shadow: none;
  }

  .col-3 offset-1 a::before {
    color: #ffffff;
    content: attr(data-hover);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
  }

  .col-3 offset-1 a:hover::before,
  .col-3 offset-1 a:focus::before {
    transform: scale(0.9);
    opacity: 0;
  }

  .col-3 a::before {
    color: #fffffe;
    content: attr(data-hover);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
  }

  .col-3 a:hover::before,
  .col-3 a:focus::before {
    transform: scale(0.9);
    opacity: 0;
  }
}

#footer {
  img {
    width: 320px;
  }

  h4 {
    font-size: 27px;
    font-family: "Fixture-ExpandedSemiBold";
    margin-bottom: 17px;
  }

  p {
    font-size: 20;
  }
}

#logo-partenaire {
  position: relative;
  right: 35px;
  padding-top: 90px;
  padding-bottom: 10px;
}

#lien-media {
  position: relative;
  left: 125px;
}

#partenaire {
  img {
    width: 150px;
  }
}

#logo-etat-fribourg {
  img {
    position: relative;
    bottom: 35px;
    width: 125px;
  }
}

#copyright {
  padding: 30px 0;
}
