#header {
  h1 {
    font-family: "Fixture-CondensedExtraBold";
    font-size: 530px;
    margin-left: 20px;
  }

  h2 {
    font-family: "Fixture-Expandedlight";
    font-size: 80px;
    padding-left: 40px;
    font-weight: lighter;
  }

  h3 {
    font-family: "Fixture-ExpandedSemiBold";
    font-size: 75px;
    padding-left: 50px;
  }

  h2,
  h3 {
    position: relative;
    top: 155px;
  }
}

#nav-section {
  .row {
    margin-top: 30px;
    margin-left: 5px;
  }

  a {
    font-family: "Modern Era";
    text-decoration: none;
    color: #ccea2d;
    font-size: 28px;
    text-shadow: none;
  }

  .col-1 a::before {
    color: #ffffff;
    content: attr(data-hover);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
  }

  .col-1 a:hover::before,
  .col-1 a:focus::before {
    transform: scale(0.9);
    opacity: 0;
  }

  .col-2 a::before {
    color: #fffffe;
    content: attr(data-hover);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
  }

  .col-2 a:hover::before,
  .col-2 a:focus::before {
    transform: scale(0.9);
    opacity: 0;
  }
}

#info {
  a {
    position: relative;
    left: 40px;
  }
}

#partenaire {
  a {
    position: relative;
    right: 60px;
  }
}

#logo-eikonica {
  a {
    position: relative;
    left: 40px;
  }

  a img {
    width: 220px;
  }
}
