#header {
  background-color: rgb(0, 0, 0);
  h1 {
    font-family: "FixtureUltra-Bold";
    font-size: 562px;
    margin-left: 20px;
  }

  h2 {
    font-family: "Fixture-Expandedlight";
    font-size: 80px;
    padding-left: 40px;
    font-weight: lighter;
  }

  h3 {
    font-family: "Fixture-ExpandedSemiBold";
    font-size: 75px;
    padding-left: 50px;
  }

  h2,
  h3 {
    position: relative;
    top: 185px;
  }
}

#annonce-titre {
  .col-12 {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all linear 0.5s;
  }

  .col-12:hover {
    transition: 0.4s;
  }

  h2,
  h3 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all linear 0.5s;
  }

  h2:hover {
    opacity: 1;
    transition: 0.4s;
  }

  h3:hover {
    opacity: 1;
    transition: 0.4s;
  }

  video {
    position: absolute;
    left: 0;
    width: 100%;
    height: 915px;
    opacity: 0;
    transition: 0.4s;
  }

  video:hover {
    opacity: 1;
    transition: 0.4s;
  }
}

#nav-section {
  .row {
    margin: 30px 0 0 5px;
  }

  a {
    font-family: "Modern Era";
    text-decoration: none;
    color: #ccea2d;
    font-size: 28px;
    text-shadow: none;
  }

  .col-1 a::before {
    color: #ffffff;
    content: attr(data-hover);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
  }

  .col-1 a:hover::before,
  .col-1 a:focus::before {
    transform: scale(0.9);
    opacity: 0;
  }

  .col-2 a::before {
    color: #fffffe;
    content: attr(data-hover);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
  }

  .col-2 a:hover::before,
  .col-2 a:focus::before {
    transform: scale(0.9);
    opacity: 0;
  }
}

#info {
  a {
    position: relative;
    left: 40px;
  }
}

#partenaire {
  a {
    position: relative;
    right: 60px;
  }
}

#logo-eikonica {
  a {
    position: relative;
    bottom: 10px;
    left: 40px;
  }

  a img {
    width: 220px;
  }
}
