#header {
  h1 {
    font-family: "Fixture-CondensedExtraBold";
    font-size: 540px;
  }

  h2 {
    font-family: "Fixture-Expandedlight";
    font-size: 80px;
    padding-left: 20px;
    font-weight: lighter;
  }

  h3 {
    font-family: "Fixture-ExpandedSemiBold";
    font-size: 75px;
    margin-top: 50px;
    padding-left: 30px;
  }

  h2,
  h3 {
    position: relative;
    top: 155px;
  }
}

#nav-section {
  .row {
    margin-top: 30px;
    margin-left: 5px;
  }

  a {
    font-size: 27px;
    font-family: "Modern Era";
    text-decoration: none;
  }
}

#info {
  a {
    position: relative;
    left: 40px;
  }
}

#partenaire {
  a {
    position: relative;
    right: 60px;
  }
}

#logo-eikonica {
  a {
    position: relative;
    left: 20px;
  }
}
