#localisation {
  background-color: #3f53d8;
  color: white;
  h1 {
    font-family: "Fixture-ExpandedExtraBold";
    font-size: 100px;
    margin-left: 50px;
    text-decoration: none;
  }

  p {
    font-family: "Fixture-Medium";
    font-size: 40px;
    margin-top: 50px;
    margin-left: 50px;
  }

  img {
    width: 700px;
  }
}
