#localisation {
  background-color: #3f53d8;
  color: white;
  h1 {
    font-size: 130px;
    margin-left: 50px;
  }

  p {
    font-size: 40px;
    margin-top: 320px;
    margin-left: 50px;
  }

  img {
    width: 700px;
  }
}
