#programme {
  h1 {
    font-family: "Fixture-ExpandedBold";
    font-size: 70px;
    margin: 88px 0 150px 80px;
  }

  h2 {
    font-size: 80px;
    font-family: "Fixture-ExpandedSemiBold";
  }

  h3 {
    font-size: 50px;
    font-family: "Fixture-CondensedMedium";
    font-weight: lighter;
  }

  hr {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  p {
    font-family: "Modern Era";
    font-weight: lighter;
    font-size: 40px;
  }
}

#information {
  margin-top: 30px;
  margin-left: 80px;
}

#img-form-jour {
  margin-bottom: 10px;
}

#img-form-jour3 {
  margin-bottom: 140px;
}
