#programme {
  h1 {
    font-size: 70px;
    margin: 88px 0 100px 80px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 50px;
  }

  hr {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  p {
    font-family: "Modern Era";
    font-weight: lighter;
    font-size: 40px;
  }
}

#img-form-jour3 {
  margin-bottom: 140px;
}
