@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  font-family: "Modern Era";

  h1 {
    font-family: "Fixture";
  }

  img {
    width: 100%;
  }
}

header {
  background-color: rgb(0, 0, 0);
  color: white;
}

main {
  background-color: rgb(255, 255, 255);
}

footer {
  background-color: rgb(0, 0, 0);
  color: white;
}
