@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

@font-face {
  font-family: "Fixture-Medium";
  src: url("/src/fonts/Fixture-Medium.woff") format("woff"),
    url("/src/fonts/Fixture-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Fixture-CondensedMedium";
  src: url("/src/fonts/Fixture-CondensedMedium.woff") format("woff"),
    url("/src/fonts/Fixture-CondensedMedium.woff2") format("woff2");
}

@font-face {
  font-family: "Fixture-ExpandedLight";
  src: url("/src/fonts/Fixture-ExpandedLight.woff") format("woff"),
    url("/src/fonts/Fixture-ExpandedLight.woff2") format("woff2");
}

@font-face {
  font-family: "FixtureItalic-ExpandedExtralight";
  src: url("/src/fonts/FixtureItalic-ExpandedExtraLight.woff") format("woff"),
    url("/src/fonts/FixtureItalic-ExpandedExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Fixture-CondensedExtraBold";
  src: url("/src/fonts/Fixture-CondensedExtraBold.woff") format("woff"),
    url("/src/fonts/Fixture-CondensedExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Fixture-ExpandedBold";
  src: url("/src/fonts/Fixture-ExpandedBold.woff") format("woff"),
    url("/src/fonts/Fixture-ExpandedBold.woff2") format("woff2");
}

@font-face {
  font-family: "Fixture-ExpandedExtraBold";
  src: url("/src/fonts/Fixture-ExpandedExtraBold.woff") format("woff"),
    url("/src/fonts/Fixture-ExpandedExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Fixture-ExpandedSemiBold";
  src: url("/src/fonts/Fixture-ExpandedSemiBold.woff") format("woff"),
    url("/src/fonts/Fixture-ExpandedSemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "FixtureUltra-Bold";
  src: url("/src/fonts/FixtureUltra-Bold.woff") format("woff"),
    url("/src/fonts/FixtureUltra-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "ModernEra-Regular";
  src: url("/src/fonts/ModernEra-Regular.woff") format("woff"),
    url("/src/fonts/ModernEra-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ModernEra-Medium";
  src: url("/src/fonts/ModernEra-Medium.woff") format("woff"),
    url("/src/fonts/ModernEra-Medium.woff2") format("woff2");
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  font-family: "ModernEra-Regular";

  h1 {
    font-family: "Fixture";
  }

  img {
    width: 100%;
  }
}

header {
  color: white;
}

main {
  background-color: rgb(255, 255, 255);
}

footer {
  background-color: rgb(0, 0, 0);
  color: white;
}
